.vertical {
    overflow: hidden;
    background: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.resize-box-vertical {
    position: relative;
}
.resize-box-bottom {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    flex: 1;
}
.content {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 5px;
    right: 20px;
    overflow-y: hidden;
}
.resize-bar {
    width: 100%;
    height: inherit;
    opacity: 0;
    overflow: scroll;
    resize: vertical;
    cursor: row-resize;
    min-height: 50px;
}
.resize_vertical {
    resize: vertical;
    cursor: row-resize;
}
.dividing-line-vertical {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    border-bottom: 1px solid #ddd;
    pointer-events: none;
}
.vertical:hover ~ .dividing-line-vertical,
.vertical:active ~ .dividing-line-vertical {
    border-bottom: 1px dashed skyblue;
}
.resize_vertical::-webkit-scrollbar {
    width: 100vw;
    height: 125px;
}

header#playground_header {
    background: #1e1f26;
    height: 65px;
}

header#playground_header>h1 {
    padding: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sens-serif;
}

iframe#code {
    bottom: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: unset;
    background: #f2f4f6;
}

.prism-live {
    min-height: 50px;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    width: 100%;
}

div#coding_area>div {
    width: 100%;
    border-left: 5px solid #555865;
}

div#coding_area>div:first-child {
    border-left: none;
}

div#coding_area {
    width: 100%;
    height: calc(100% - 5px);
    border-bottom: 5px solid #555865;
    min-height: 0;
    display: flex;
    overflow: hidden;
    resize: vertical;
}

div#code_output {
    height: 100%;
}